@using System.Globalization
@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">


<body>

	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					@foreach(var item in Model) {

					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<img src="@item.BlogImage" class="img-fluid" style="display:flex; margin: auto;" alt="">
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<h6 style="color: white;">
											<i class="far fa-calendar-alt"></i>
											@item.BlogCreateDate.ToLongDateString()
										</h6>
									</li>
								</ul>
							</div>
						</div>

						<h3>
							<a href="single.html">@item.BlogTitle </a>
						</h3>
						<p style="white-space: pre-wrap;">@Html.Raw(item.BlogContent)</p>
					</div>
					
					}

					@await Component.InvokeAsync("CommentListByBlog", new {id = ViewBag.id })

					@await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml", new {id = ViewBag.id})
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">

						@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

						@await Component.InvokeAsync("CategoryList")

						@await Component.InvokeAsync("WriterLastBlog", new {id = ViewBag.writerid })
						
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>

