
<div class="tech-btm">
	<h4>Subscribe to our newsletter</h4>
	<p>Subscribe to be informed about the latest technological events. </p>
	<form action="~/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Subscribe">
	</form>

</div>