
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a href="/Admin/Blog/ExportStaticExcelBlogList/" class="btn btn-primary">Download Excel List</a>


@section scripts{

}