@using EntityLayer.Concrete
@model Message2

@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Message/ComposeMessage">Mail At</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                    <a href="/Admin/Message/InBox">
                                        <i class="fa fa-inbox "></i> Gelen Kutusu
                                        @if (ViewBag.inboxNumber > 0)
                                        {
                                            <span class="label label-warning float-right">@ViewBag.inboxNumber</span>
                                        }
                                    </a>
                                </li>
                                <li><a href="/Admin/Message/SendBox"> <i class="fa fa-envelope-o"></i> Giden Kutusu</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>
                        Inbox (@ViewBag.inboxNumber)
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mail-box">
                    <table class="table table-hover table-mail">
                        <tbody id="mails">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            loadInBoxMail();

            function loadInBoxMail() {
                $.ajax({
                    url: 'https://localhost:44343/Admin/Message/GetInBox/',
                    type: 'GET',
                    success: function (mails) {

                        var jsonString = JSON.parse(mails);
                        var datas = '';

                        for (let i = 0; i < jsonString.$values.length; i++) {
                            const date = new Date(jsonString.$values[i].MessageDate);
                            const options = { year: 'numeric', month: 'long', day: 'numeric' };
                            const dateNew = date.toLocaleDateString('tr-TR', options);

                            if (jsonString.$values[i].MessageStatus) {
                                datas += `<tr class="read">
                                                    <td class="check-mail"><input type="checkbox" class="i-checks" checked></td>
                                                    <td class="mail-contact">${jsonString.$values[i].SenderWriter.WriterName}</td>
                                                    <td class="mail-subject"> <a href="/Admin/Message/MailDetail/${jsonString.$values[i].MessageID}"> ${jsonString.$values[i].Subject}</a></td>
                                                    <td class="text-right mail-date"> ${dateNew}</td>
                                                </tr>`
                            }
                            else {
                                datas += `<tr class="unread">
                                                    <td class="check-mail"><input type="checkbox" class="i-checks"></td>
                                                    <td class="mail-contact">${jsonString.$values[i].SenderWriter.WriterName}</td>
                                                    <td class="mail-subject"> <a href="/Admin/Message/MailDetail/${jsonString.$values[i].MessageID}"> ${jsonString.$values[i].Subject}</a></td>
                                                    <td class="text-right mail-date"> ${dateNew}</td>
                                                </tr>`
                            }

                        }
                        $('#mails').html(datas);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        });
    </script>
</body>