
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h2>Dashboard</h2>

                <h3>Bir şeyler yapıyorum ama ne yaptığımı bilmiyorum. Ama yapmaya devam edeceğim.</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2 class="font-bold no-margins">Son Blog</h2>

                <h3 class="font-bold no-margins">
                    @ViewBag.recentBlogDate
                </h3>
                <h3>@ViewBag.recentBlogTitle</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
</div>


@section scripts{

}