<div class="comment-top">
	<h4>Bir yorum bırak</h4>
	<div class="comment-bottom">
		<form>
			<input class="form-control" type="text" id="CommentUserName" placeholder="Name" required="">
            <input class="form-control" type="text" id="CommentTitle" placeholder="Comment Title" required="">
            @**@
            <textarea class="form-control" id="CommentContent" placeholder="Content..." required=""></textarea>
			<button type="submit" id="submitBtn" class="btn btn-primary submit">Yorum Ekle</button>
		</form>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#submitBtn").click(function (e) {
            e.preventDefault();

            var commentdata = {
                CommentUserName: $("#CommentUserName").val(),
                CommentTitle: $("#CommentTitle").val(),
                CommentContent: $("#CommentContent").val(),
                BlogId: @ViewBag.id
                    ,
                CommentText: $("#CommentText").val()
            };

            console.log(commentdata)

            $.ajax({
                type: "POST",
                url: '@Url.Action("PartialAddComment", "Comment")',
                data: commentdata,
                success: function (response) {
                    resetForm();
                    location.reload()
                }
            });
        });


        function resetForm() {
            $('#CommentUserName').val('');
            $('#CommentTitle').val('');
            $('#CommentContent').val('');
        }
    });
</script>