<div class="comment-top">
	<h4>Leave a Comment</h4>
	<div class="comment-bottom">
		<form action="~/Comment/PartialAddComment/" method="post">
			<input class="form-control" type="text" name="CommentUserName" placeholder="Name" required="">
			<input class="form-control" type="text" name="CommentTitle" placeholder="Comment Title" required="">

			<textarea class="form-control" name="CommentContent" placeholder="Content..." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Add Comment</button>
		</form>
	</div>
</div>