@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>All Notification</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Notification</th>
            <th>Date</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.NotificationID</td>
                <td>@item.NotificationDetails</td>
                <td>@item.NotificationDate</td>
            </tr>
        }
    </table>
</div>