@model CoreDemo.Controllers.Class1

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Employee Name Surname</label>
    <input type="text" asp-for="@Model.Name" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-info">Add Employee</button>
</form>

