@using CoreDemo.Controllers
@using static CoreDemo.Controllers.EmployeeTest
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="/EmployeeTest/DeleteEmployee/@item.ID" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/EmployeeTest/UpdateEmployee/@item.ID" class="btn btn-outline-success">Update</a></td>
        </tr>
    }
</table>
<a href="/EmployeeTest/AddEmployee" class="btn btn-outline-primary">Add New Employee</a>