@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
	<h4>Yorumlar</h4>

	@foreach (var item in Model)
	{
		<div class="media">
			<img src='https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg' alt="" height="60" width="60" class="img-fluid" />
			<div class="media-body">
				<h5 class="mt-0">@item.CommentUserName</h5>
				<p>
					@item.CommentContent
				</p>
			</div>
		</div>

	}
</div>