@using EntityLayer.Concrete
@model List<Category>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategoriler</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Adı </th>
                                <th> Durumu </th>
                                <th> Kategori Sayısı </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                            <tr>
                                <td> @item.CategoryId </td>
                                <td> @item.CategoryName </td>
                                <td> @item.CategoryStatus </td>
                                <td>@item.CategoryCount</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>